In [5]:
import pandas as pd
from deep_translator import GoogleTranslator

pd.set_option('display.max_columns', None)

# Sobre este conjunto de dados
##### Estes dados abordam o desempenho dos alunos no ensino secundário de duas escolas portuguesas. Os atributos dos dados incluem notas dos alunos, características demográficas, sociais e relacionadas com a escola) e foram recolhidos através de relatórios escolares e questionários. São fornecidos dois conjuntos de dados relativos ao desempenho em duas disciplinas distintas: Matemática (mat) e Língua Portuguesa (por). Em [Cortez e Silva, 2008], os dois conjuntos de dados foram modelados sob binário. Neste caso estamos apenas analisando o conjunto de dados de matemática.

##### Atributos para os conjuntos de dados student-mat.csv (curso de matemática) e student-por.csv (curso de língua portuguesa): 
##### 1 escola - escola do aluno (binário: 'GP' - Gabriel Pereira ou 'MS' - Mousinho da Silveira) 
##### 2 sexo - sexo do aluno (binário: 'F' - feminino ou 'M' - masculino) 
##### 3 idade - idade do aluno (numérico: de 15 a 22) 
##### 4 endereço - tipo de endereço residencial do aluno (binário: 'U' - urbano ou 'R ' - rural) 
##### 5 tamanho_da_familia  - tamanho da família (binário: 'LE3' - menor ou igual a 3 ou 'GT3' - maior que 3) 
##### 6 status_pais - situação de coabitação dos pais (binário: 'T' - morar junto ou 'A' - à parte) 
##### 7 educacao_mae - escolaridade da mãe (numérico: 0 - nenhuma, 1 - ensino fundamental (4º ano), 2 - 5º ao 9º ano, 3 - ensino médio ou 4 - ensino superior) 
##### 8 educacao_pai - escolaridade do pai escolaridade (numérico: 0 - nenhuma, 1 - ensino fundamental (4º ano), 2 - 5º ao 9º ano, 3 - ensino médio ou 4 - ensino superior) 
##### 9 profissao_mae - trabalho da mãe (nominal: 'professora ', relacionados com cuidados de 'saúde', 'serviços' civis (por exemplo, administrativos ou policiais), 'em casa' ou 'outros') 
##### 10 profissao_pai - trabalho do pai (nominal: 'professor', relacionados com cuidados de 'saúde', 'serviços' civis ( por exemplo. administrativo ou policial), 'em_casa' ou 'outro') 
##### 11 motivo - razão para escolher esta escola (nominal: perto de 'casa', 'reputação' da escola, preferência de 'curso' ou 'outro') 
##### 12 responsavel - tutor do aluno ( nominal: 'mãe', 'pai' ou 'outro') 
##### 13 tempo_viagem - tempo de viagem casa-escola (numérico: 1 - <15 min., 2 - 15 a 30 min., 3 - 30 min. a 1 hora, ou 4 - >1 hora) 
##### 14 tempo_estudo - tempo de estudo semanal (numérico: 1 - <2 horas, 2 - 2 a 5 horas, 3 - 5 a 10 horas ou 4 - >10 horas) 
##### 15 reprovacoes - número de reprovações em aulas anteriores (numérico: n se 1<=n<3, else 4) 
##### 16 suporte_escolar - apoio educativo extra (binário: sim ou não) 
##### 17 suporte_familia - apoio educativo familiar (binário: sim ou não) 
##### 18 aulas_pagas - aulas extra remuneradas dentro do curso disciplina (Matemática ou Português) (binário: sim ou não) 
##### 19 atividades - atividades extracurriculares (binário: sim ou não) 
##### 20 creche - frequentou creche (binário: sim ou não) 
##### 21 ensino_superior - quer fazer ensino superior (binário : sim ou não) 
##### 22 internet - acesso à internet em casa (binário: sim ou não) 
##### 23 relacionamento_amoroso - com relacionamento amoroso (binário: sim ou não) 
##### 24 relacao_familiar - qualidade das relações familiares (numérico: de 1 - muito ruim a 5 - excelente) 
##### 25 tempo_livre_ - tempo livre depois da escola (numérico: de 1 - muito baixo a 5 - muito alto) 
##### 26 sair - sair com amigos (numérico: de 1 - muito baixo a 5 - muito alto) 
##### 27 consumo_alcool_dia - álcool no dia de trabalho consumo (numérico: de 1 - muito baixo a 5 - muito alto) 
##### 28 consumo_alcool_fim_semana - consumo de álcool nos finais de semana (numérico: de 1 - muito baixo a 5 - muito alto) 
##### 29 saude - estado de saúde atual (numérico: de 1 - muito ruim a 5 - muito bom) 
##### 30 faltas - número de faltas escolares (numérico: de 0 a 93) # essas notas estão relacionadas com a disciplina do curso, Matemática ou Português: 
##### 31 nota_G1 - nota do primeiro período (numérico: de 0 a 20) 
##### 31 nota_ G2 - nota do segundo período (numérico: de 0 a 20) 
##### 32 nota_G3 - nota final (numérico: de 0 a 20, meta de produção)

https://www.kaggle.com/datasets/impapan/student-performance-data-set?resource=download

In [21]:
df = pd.read_csv('~/Code/student-mat.csv', sep=';')

In [22]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3,2,3,3,3,5,5,8,9,9

In [23]:
traducao_colunas = {
    'school': 'escola',
    'sex': 'sexo',
    'age': 'idade',
    'address': 'endereço',
    'famsize': 'tamanho_da_familia',
    'Pstatus': 'status_pais',
    'Medu': 'educacao_mae',
    'Fedu': 'educacao_pai',
    'Mjob': 'profissao_mae',
    'Fjob': 'profissao_pai',
    'reason': 'motivo',
    'guardian': 'responsavel',
    'traveltime': 'tempo_viagem',
    'studytime': 'tempo_estudo',
    'failures': 'reprovacoes',
    'schoolsup': 'suporte_escolar',
    'famsup': 'suporte_familiar',
    'paid': 'aulas_pagas',
    'activities': 'atividades',
    'nursery': 'creche',
    'higher': 'ensino_superior',
    'internet': 'internet',
    'romantic': 'relacionamento_amoroso',
    'famrel': 'relacao_familiar',
    'freetime': 'tempo_livre',
    'goout': 'sair',
    'Dalc': 'consumo_alcool_dia',
    'Walc': 'consumo_alcool_fim_semana',
    'health': 'saude',
    'absences': 'faltas',
    'G1': 'nota_G1',
    'G2': 'nota_G2',
    'G3': 'nota_G3'
}

In [24]:
df.rename(columns=traducao_colunas, inplace=True)

In [25]:
df

,escola,sexo,idade,endereço,tamanho_da_familia,status_pais,educacao_mae,educacao_pai,profissao_mae,profissao_pai,motivo,responsavel,tempo_viagem,tempo_estudo,reprovacoes,suporte_escolar,suporte_familiar,aulas_pagas,atividades,creche,ensino_superior,internet,relacionamento_amoroso,relacao_familiar,tempo_livre,sair,consumo_alcool_dia,consumo_alcool_fim_semana,saude,faltas,nota_G1,nota_G2,nota_G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3,2,3,3,3,5,5,8,9,9

In [26]:
def traduzir_coluna(texto):
    if pd.isna(texto) or texto == '':
        return texto
    try:
        return GoogleTranslator(source='auto', target='pt').translate(texto)
    except Exception as e:
        print(f"Erro ao traduzir '{texto}': {e}")
        return texto

In [27]:
df['profissao_mae'] = df['profissao_mae'].apply(traduzir_coluna)

In [28]:
df['profissao_pai'] = df['profissao_pai'].apply(traduzir_coluna)

In [29]:
df['responsavel'] = df['responsavel'].apply(traduzir_coluna)

In [30]:
mapeamento = {'yes': 'sim', 'no': 'não'}

In [31]:
df['suporte_escolar'] = df['suporte_escolar'].map(mapeamento)
df['suporte_familiar'] = df['suporte_familiar'].map(mapeamento)
df['aulas_pagas'] = df['aulas_pagas'].map(mapeamento)
df['atividades'] = df['atividades'].map(mapeamento)
df['creche'] = df['creche'].map(mapeamento)
df['ensino_superior'] = df['ensino_superior'].map(mapeamento)
df['internet'] = df['internet'].map(mapeamento)
df['relacionamento_amoroso'] = df['relacionamento_amoroso'].map(mapeamento)

In [36]:
df

,escola,sexo,idade,endereço,tamanho_da_familia,status_pais,educacao_mae,educacao_pai,profissao_mae,profissao_pai,motivo,responsavel,tempo_viagem,tempo_estudo,reprovacoes,suporte_escolar,suporte_familiar,aulas_pagas,atividades,creche,ensino_superior,internet,relacionamento_amoroso,relacao_familiar,tempo_livre,sair,consumo_alcool_dia,consumo_alcool_fim_semana,saude,faltas,nota_G1,nota_G2,nota_G3
0,GP,F,18,U,GT3,A,4,4,em casa,professor,course,mãe,2,2,0,sim,não,não,não,sim,sim,não,não,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,em casa,outro,course,pai,1,2,0,não,sim,não,não,não,sim,sim,não,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,em casa,outro,other,mãe,1,2,3,sim,não,sim,não,sim,sim,sim,não,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,saúde,Serviços,home,mãe,1,3,0,não,sim,sim,sim,sim,sim,sim,sim,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,outro,outro,home,pai,1,2,0,não,sim,sim,não,sim,sim,não,não,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,Serviços,Serviços,course,outro,1,2,2,não,sim,sim,não,sim,sim,não,não,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,Serviços,Serviços,course,mãe,2,1,0,não,não,não,não,não,sim,sim,não,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,outro,outro,course,outro,1,1,3,não,não,não,não,não,sim,não,não,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,Serviços,outro,course,mãe,3,1,0,não,não,não,não,não,sim,sim,não,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,outro,em casa,course,pai,1,1,0,não,não,não,não,sim,sim,sim,não,3,2,3,3,3,5,5,8,9,9

In [39]:
df.to_csv('~/Code/student-mat-pt.csv', index=False)